.logo {
  transition: transform 0.1s;
}

@media only screen and (min-width: 636px) {
  .logo {
    margin-left: 0;
    display: flex;
    width: 80px;
    height: 80px;

    z-index: 1000;
    position: fixed;
    top: 5px;
    left: 5px;
  }
}

@media only screen and (max-width: 635px) {
  .logo {
    margin-left: 0;
    display: flex;
    width: 80px;
    height: 80px;

    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
  }
}
