::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
  background: #56cfff;
  border-radius: 20px;
  margin-block: .5em;
}
  
::-webkit-scrollbar-thumb {
  background: #ade8ff;
  border-radius: 20px;
  border: .25em solid #56cfff;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #e4f7ff;
}