::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #4c4adf;
}

::-webkit-scrollbar-thumb {
  background: #5e8cf0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #84a5ec;
}

/* ::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-thumb {
  width: 5px !important;
  background: content-box #5e8cf0;
  border-radius: 17px;
  border: 3px solid transparent;
  border-image: initial;
} */
