@font-face {
  font-family: Geist;
  src: url('/assets/fonts/geist/Geist-Regular.woff2');
} 

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body * {
  font-family: 'Geist';
  font-weight: 550;
}


@media only screen and (max-width: 635px) {
  .button-area {
    display: flex;
    flex-direction: column;
  }
  .mainbutton {
    margin-right: 10px;
    border: none;
    font-size: 25px;
    padding: 6px 12px;
    background: #0aa1ffb0;
    box-shadow: 0px 0px 15px #009eff;
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    width: 145px;
    height: 60px;
    margin-top: 3vh;
  }
  .my {
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 235px;
    transform: rotate(5deg);
  }
  .intro {
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    margin-top: auto;
  }
  .text-container {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
    flex-direction: column;
  }
  .title {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 35px;
    color: #ffff;
    transform: rotate(-0.5deg);
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul{
    display: flex;
    flex-direction: column;
  }
  li {
    list-style-type: none;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  /* ------------------------------PROJECT--------------------- */
  .project-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5vh;
    font-size: 10vw;
    color: #ffff;
    /* transform: rotate(-7.5deg); */
  }
  .placehold {
    margin: auto;
    width: 80vmin;
    border-radius: 20px;
    background: #e4f7ff;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    grid-gap: 45px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 65px;
  }
  .pr-name {
    color: #000000;
    font-size: xx-large;
    text-align: center;
  }
  .project-card {
    display: flex;
    flex-direction: column;
  }
}



@media only screen and (min-width: 636px) {
  .my {
    display: flex;
    width: 30vh;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    width: 100%;
  }
  .intro-bg {
    position: fixed;
    object-fit: cover;
    z-index: -10;
    width: 100vw;
    height: 100vh;
  }
  .h1-intro {
    margin-top: 7vh;
    font-size: 10vmin;
    color: #ffff;
    transform: rotate(-0.5deg);
  }
  /* ------------------------------PROJECT--------------------- */
  .project-title {
    margin-top: auto;
    font-size: 7.5vmin;
    color: #ffff;
    /* transform: rotate(-7.5deg); */
    margin-bottom: 3vh;
    text-align: center;
  }
  .button-area {
    margin-top: 2vh;
  }
  .placehold {
    margin: auto;
    /* width: 400px; */
    border-radius: 60px;
    background: #e4f7ff;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 0fr));
    /* grid-template-columns: 400px; */
    grid-gap: 45px;
    margin: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
  }
  .project {
    background-color: #ffffff;
    border-radius: 65px 65px 0 0;
    padding-top: 100px;
  }
  .pr-name {
    color: #000000;
    font-size: xx-large;
    text-align: center;
  }
  .test1 {
    width: 650px;
    height: 450px;
    border-radius: 60px;
    background: #5e8cf0;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  .placehold1 {
    object-fit: cover;
    width: 230px;
    height: 410px;
    border-radius: 40px;
    margin-right: 30px;
  }
  .card-title {
    font-size: 28px;
    font-weight: 600;
  }
}