@media only screen and (max-width: 720px) {
  .navbar {
    align-items: center;
    height: 6vw;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    left: 0;
    text-align: center;
  }
  .navbar-btn {
    box-shadow: 0px 0px 0px 1px #a5a5a5 inset;
    background-color: #f3f5f8;
    list-style-type: none;
    text-decoration: none;
    height: 10vmax;
    width: 10vmax;

    display: flex;
    flex-direction: column;
  }
  .navbar-btn:hover {
    transition: box-shadow 0.1s ease, color 0.1s ease, background 0.1s ease;
    border: none;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    color: #000000;
  }

  .navbar-img {
    object-fit: contain;
    width: 5vmax;
    height: 5vmax;
    margin-top: 5vmax;
    margin-left: 5vmax;
    translate: -50% -50%;
  }
  .navbar-btn-txt {
    font-size: 2vmax;
  }
}

@media only screen and (min-width: 721px) {
  .navbar {
    align-items: center;
    height: 6vw;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    left: 0;
    text-align: center;
  }
  .navbar-btn {
    box-shadow: 0px 0px 0px 1px #a5a5a5 inset;
    background-color: #f3f5f8;
    list-style-type: none;
    text-decoration: none;
    height: 6vmax;
    width: 6vmax;

    display: flex;
    flex-direction: column;
  }

  .navbar-btn:hover {
    transition: box-shadow 0.1s ease, color 0.1s ease, background 0.1s ease;
    border: none;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    color: #000000;
  }

  .navbar-img {
    object-fit: contain;
    width: 4vmax;
    height: 4vmax;
    margin-top: 3vmax;
    margin-left: 3vmax;
    translate: -50% -50%;
  }
  .navbar-btn-txt {
    font-size: 1vmax;
  }
}
